# rename this file to .env and supply the values listed below
# also make sure they are available to the build tool (e.g. Netlify)
# warning: variables prefixed with GATSBY_ will be made available to client-side code
# be careful not to expose sensitive data (in this case your Algolia admin key)

AIRTABLE_API_KEY=_____________
ALGOLIA_ADMIN_KEY=_____________
GATSBY_ALGOLIA_APP_ID=_____________
GATSBY_ALGOLIA_SEARCH_KEY=_____________
FIREBASE_API_KEY=_____________
