@import '~@cocolist/thumbprint-tokens/dist/scss/_index';
@import '../styles/mixins';

.thumbnailWrapper {
  width: 100%;
}

.badgeImage {
  width: 60px;
}

.fresh {
  float: right;
}

@include respond-above(medium) {
  .sidebar {
    width: 240px;
  }
}

@include respond-above(large) {
  .badgeImage {
    width: 100px;
  }

  .sidebar {
    width: 320px;
  }
}

.curtain {
  background-color: rgba(0, 0, 0, 0.5);
}
