@import '~@cocolist/thumbprint-tokens/dist/scss/_index';
@import '../styles/mixins';

.thumbnailWrapper {
  width: 100%;
}

.badgeImage {
  width: 60px;
}

.fresh {
  float: right;
}

.curtain {
  background-color: rgba(0, 0, 0, 0.5);
}

.container {
  max-width: 600px;
}
