@import url('//fonts.googleapis.com/css?family=Montserrat:400,500,700');
@import '~@cocolist/thumbprint-tokens/dist/scss/_index.scss';

mark {
  background-color: $tp-color__green-100;
}

.firebaseui-email-sent {
  display: none;
}

// Measure from Tachyons
.measure {
  max-width: 30em;
}

// Measure is limited to ~80 characters
.measure-wide {
  max-width: 34em;
}

// Measure is limited to ~45 characters
.measure-narrow {
  max-width: 20em;
}

.shadow-1 {
  box-shadow: $tp-shadow__card;
}

sup {
  font-size: 80%;
  line-height: 1;
  vertical-align: super;
}

.react-hot-loader-error-overlay {
  z-index: 100;
}
