.wrapper {
  button {
    background-color: var(--brand-green);
    border-color: var(--brand-green);
  }

  button:focus {
    background-color: var(--brand-green-500);
    border-color: var(--brand-green-500);
  }

  button:disabled {
    background-color: var(--brand-green-300);
    border-color: var(--brand-green-300);
  }

  button[class*='Secondary'],
  button[class*='Secondary']:hover {
    background-color: white;
    color: var(--brand-green);
  }

  button[class*='Tertiary'],
  button[class*='Tertiary']:hover {
    background-color: white;
    color: var(--brand-green);
  }
}