@import '../styles/mixins';

.itemValue {
  display: block;
}

@include respond-above(small) {
  .itemValue {
    display: inline;
  }

  .itemValue + .itemValue:before {
    content: ', ';
  }
}

@include respond-above(medium) {
  .column {
    width: 45%;
  }
}
