@import '~@cocolist/thumbprint-tokens/dist/scss/_index';
@import '../styles/mixins';

.container {
  position: sticky;
  top: 0;
  font-size: $tp-font__body__2__size;
}

.container.hasShadow {
  box-shadow: $tp-shadow__card;
}

.logo {
  width: auto;
  height: 38px;
}

.searchWrapper {
  @include respond-above(large) {
    max-width: 580px;
  }
}

.langEmoji {
  opacity: 0.8;
  filter: saturate(2) contrast(2);
  @include respond-above(medium) {
    transform: scale(1.5);
  }
}

.langShort {
  display: none;
}

.lang.truncate {
  .langLong {
    @include respond-below(medium) {
      display: none;
    }
  }

  .langShort {
    display: inline-block;
    @include respond-above(medium) {
      display: none;
    }
  }
}

.noSearch {
  .langLong {
    display: inline-block;
  }
  .langShort {
    display: none;
  }
}

.nav {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  box-shadow: 0 0 0 9999px white;

  > * {
    display: block;
    margin-bottom: $tp-space__2;
  }
}
