@import '~@cocolist/thumbprint-tokens/dist/scss/_index';
@import '../styles/mixins';

.container {
  position: sticky;
  top: 0;
}

.container.hasShadow {
  box-shadow: $tp-shadow__card;
}

.logo {
  width: auto;
  height: 32px;
}

.searchWrapper {
  @include respond-above(large) {
    width: 700px;
  }
}

.langEmoji {
  opacity: 0.6;
  filter: saturate(2) contrast(2);
  transform: scale(1.5);
}

.langLong {
  @include respond-below(medium) {
    display: none;
  }
}

.langShort {
  @include respond-above(medium) {
    display: none;
  }
}

.noSearch {
  .langLong {
    display: block;
  }
  .langShort {
    display: none;
  }
}
