@import '~@cocolist/thumbprint-tokens/dist/scss/_index';
@import '~@cocolist/thumbprint-scss/mixins/button';
@import "../styles/mixins";

.hitsWrapper {
  :global(.ais-InfiniteHits-loadMore) {
    @include tp-button;
    @include tp-button--secondary;
    @include tp-button--small;
    display: block;
    margin: $tp-space__2 auto;

    &--disabled {
      display: none;
    }
  }
}

.results {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  height: calc(100vh - 100%);

  @include respond-above(medium) {
    top: -1 * $tp-space__1;
    right: -1 * $tp-space__1;
    left: -1 * $tp-space__1;
    height: 75vh;
    padding-top: 60px;
    min-width: 500px;
  }

  // @include respond-above(large) {
  //   min-width: 736px;
  // }

  :global(.ais-RefinementList) {
    overflow: auto;
    margin: $tp-space__2 0;
    padding: 0 $tp-space__2 $tp-space__1;

    ul {
      white-space: nowrap;
      padding-right: $tp_space__3;
    }

    &--noRefinement {
      display: none;
    }
  }

  :global(.ais-RefinementList-item) {
    display: inline-block;
    padding: $tp-space__1 $tp-space__2;
    margin-right: $tp-space__2;
    border: 1px solid $tp-color__gray;
    border-radius: $tp-border-radius__sides;
    font-weight: 500;

    &, & > * {
      cursor: pointer;
    }

    &--selected {
      background-color: $tp-color__green;
      border-color: $tp-color__green;
      color: $tp-color__white;
    }

    &:last-child {
      margin-right: $tp-space__3;
    }

    input {
      display: none;
    }
  }

  :global(.ais-RefinementList-count) {
    display: none;
  }
}
